body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    margin-top: 50px;
}

.siuu{
    font-size: 25px;
    line-height: 3.0rem;
}

a{
    text-align: center;
    font-size: 15px;
}