body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    width: 80%;
    border-collapse: collapse;
    border-radius: 20%;
}

table, th, td{
    border-left: 1px solid #1c73e6;
    border-bottom: 1px solid black;
    border-right: 1px solid #1c73e6;
    border-top: 1px solid #1c73e6;
}

.table_header{
    height: 30px;
    background-color: #8ab1b5;
}

.table_date{
    height: 30px;
    background-color: lightgray;
    height: 35px;
    text-align: center;
    font-weight: bold;
}

.text{
    text-align: center;
    font-size: 11px;
    text-decoration: underline dotted 2px gray;
}

.blue-text{
    text-align: center;
    font-size: 11px;
    text-decoration: underline dotted 2px gray;
    color: #36c1d1;
}

span{
    float: right;
    cursor: pointer;
    font-size: 10px;
}

.text-blue{
    color: #36c1d1;
    text-align: center;
    font-size: 11px;
    text-decoration: underline dotted 2px gray;
}